@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, li, td, th {
  font-family: 'Open Sans', 'Segoe UI', Arial, sans-serif;
  font-weight: 600;
}
#workflowr-report {
  display: none !important;
}
